.nwt_tester_viewer {}

.nwt_tester_viewer .tester_viewer_box_container {
    padding: 0px;
}

.nwt_tester_viewer .tester_viewer_box {
    border: 1px solid #888;
    background-color: #EEE;
    box-shadow: 2px 2px 0px black;
    padding: 4px;
    /*max-height: 300px;*/
    overflow: scroll;
}

.nwt_tester_viewer .tester_viewer_box.all_passed {
    background-color: #e1e8df;
}

.nwt_tester_viewer .test {
 
}

.nwt_tester_viewer .test.pending,
.nwt_tester_viewer .test.pending > * {
    color: gray;
}

.nwt_tester_viewer .test.running > * {
    color: rgb(205, 189, 17);
}

.nwt_tester_viewer .test.ok > * {
    color: #1a8044;
}

.nwt_tester_viewer .test.failed > * {
    color: #550d05;
    font-weight: bold;
    background-color: rgba(248, 248, 11, 0.179);
    background-color: rgba(205, 36, 17, 0.299);
    border-radius: 3pt;
}