<div class="nwt_control_text">
    <div class="pad_horizontal_1" v-if="isShown">
        <template v-if="!isExpanded">
            <nwt-control-partial-for-statement :control="this" />
        </template>
        <template v-else-if="isExpanded">
            <div class="pad_bottom_1">
                <div class="control_statement" v-if="settings.hasStatement">
                    <nwt-control-partial-for-statement :control="this" />
                </div>
                <div class="control_validator" v-if="isShowingValidator">
                    <nwt-control-validator :control="this" ref="validator" />
                </div>
                <div class="control_text_box for_textarea position_relative"
                    v-if="isLongText">
                    <textarea class="width_100"
                        type="text"
                        v-model="value"
                        :placeholder="settings.hasPlaceholder"></textarea>
                    <div class="position_absolute_fixed"
                        style="top:2px;right:2px;left:auto;">
                        <button class="mini active"
                            v-on:click="deactivateLongText">➖</button>
                    </div>
                </div>
                <div class="control_text_box for_input"
                    v-else>
                    <div class="flex_row">
                        <div class="flex_100">
                            <input class="width_100"
                                type="text"
                                v-model="value"
                                :placeholder="settings.hasPlaceholder" />
                        </div>
                        <div class="flex_1 pad_left_1">
                            <button class="mini"
                                v-on:click="activateLongText">➕</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>