.error_handler_box {
    overflow: scroll;
    background-color: rgb(247 209 209 / 78%);
}

.error_handler_box > pre {
    overflow: visible;
    border: none;
    background-color: transparent;
    font-family: var(--w7-font);
    font-size: 10px;
    color: black;
}