.nwt_stars_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  background: transparent;
  color: goldenrod;
  overflow: hidden;
  pointer-events: none;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.85em;
  --top-offset: 82.78vh;
  --fall-duration: 7.988s;
  --fall-delay: 8.23s;
}
.star:nth-child(2) {
  --star-tail-length: 6.76em;
  --top-offset: 62.84vh;
  --fall-duration: 6.157s;
  --fall-delay: 1.248s;
}
.star:nth-child(3) {
  --star-tail-length: 5.82em;
  --top-offset: 41.4vh;
  --fall-duration: 7.516s;
  --fall-delay: 6.483s;
}
.star:nth-child(4) {
  --star-tail-length: 5.21em;
  --top-offset: 72.71vh;
  --fall-duration: 9.135s;
  --fall-delay: 2.902s;
}
.star:nth-child(5) {
  --star-tail-length: 5.8em;
  --top-offset: 43.67vh;
  --fall-duration: 11.896s;
  --fall-delay: 9.963s;
}
.star:nth-child(6) {
  --star-tail-length: 7.47em;
  --top-offset: 55.18vh;
  --fall-duration: 11.143s;
  --fall-delay: 7.313s;
}
.star:nth-child(7) {
  --star-tail-length: 5.99em;
  --top-offset: 6.4vh;
  --fall-duration: 10.402s;
  --fall-delay: 9.718s;
}
.star:nth-child(8) {
  --star-tail-length: 6.95em;
  --top-offset: 29.61vh;
  --fall-duration: 7.798s;
  --fall-delay: 7.143s;
}
.star:nth-child(9) {
  --star-tail-length: 7em;
  --top-offset: 1.62vh;
  --fall-duration: 7.017s;
  --fall-delay: 1.759s;
}
.star:nth-child(10) {
  --star-tail-length: 7.04em;
  --top-offset: 8.63vh;
  --fall-duration: 8.541s;
  --fall-delay: 7.502s;
}
.star:nth-child(11) {
  --star-tail-length: 6.73em;
  --top-offset: 92.43vh;
  --fall-duration: 9.625s;
  --fall-delay: 9.932s;
}
.star:nth-child(12) {
  --star-tail-length: 6.45em;
  --top-offset: 23.7vh;
  --fall-duration: 10.497s;
  --fall-delay: 1.822s;
}
.star:nth-child(13) {
  --star-tail-length: 5.79em;
  --top-offset: 59.71vh;
  --fall-duration: 6.193s;
  --fall-delay: 9.88s;
}
.star:nth-child(14) {
  --star-tail-length: 5.97em;
  --top-offset: 19.67vh;
  --fall-duration: 6.007s;
  --fall-delay: 4.906s;
}
.star:nth-child(15) {
  --star-tail-length: 5.45em;
  --top-offset: 21.32vh;
  --fall-duration: 8.338s;
  --fall-delay: 1.538s;
}
.star:nth-child(16) {
  --star-tail-length: 7.3em;
  --top-offset: 46.24vh;
  --fall-duration: 9.948s;
  --fall-delay: 1.931s;
}
.star:nth-child(17) {
  --star-tail-length: 6.54em;
  --top-offset: 9.66vh;
  --fall-duration: 8.216s;
  --fall-delay: 2.602s;
}
.star:nth-child(18) {
  --star-tail-length: 5.01em;
  --top-offset: 43.65vh;
  --fall-duration: 7.889s;
  --fall-delay: 4.509s;
}
.star:nth-child(19) {
  --star-tail-length: 6.74em;
  --top-offset: 84.46vh;
  --fall-duration: 9.48s;
  --fall-delay: 6.456s;
}
.star:nth-child(20) {
  --star-tail-length: 5.08em;
  --top-offset: 68.69vh;
  --fall-duration: 9.778s;
  --fall-delay: 3.651s;
}
.star:nth-child(21) {
  --star-tail-length: 6.83em;
  --top-offset: 30.78vh;
  --fall-duration: 6.288s;
  --fall-delay: 3.751s;
}
.star:nth-child(22) {
  --star-tail-length: 6.89em;
  --top-offset: 43.79vh;
  --fall-duration: 10.596s;
  --fall-delay: 4.257s;
}
.star:nth-child(23) {
  --star-tail-length: 5.6em;
  --top-offset: 43.93vh;
  --fall-duration: 11.51s;
  --fall-delay: 6.515s;
}
.star:nth-child(24) {
  --star-tail-length: 6.11em;
  --top-offset: 62.96vh;
  --fall-duration: 9.79s;
  --fall-delay: 0.267s;
}
.star:nth-child(25) {
  --star-tail-length: 6.03em;
  --top-offset: 64.74vh;
  --fall-duration: 10.568s;
  --fall-delay: 5.74s;
}
.star:nth-child(26) {
  --star-tail-length: 5.63em;
  --top-offset: 59.56vh;
  --fall-duration: 9.569s;
  --fall-delay: 4.525s;
}
.star:nth-child(27) {
  --star-tail-length: 5.92em;
  --top-offset: 42.65vh;
  --fall-duration: 7.296s;
  --fall-delay: 2.491s;
}
.star:nth-child(28) {
  --star-tail-length: 7.49em;
  --top-offset: 94.33vh;
  --fall-duration: 11.952s;
  --fall-delay: 2.247s;
}
.star:nth-child(29) {
  --star-tail-length: 6.79em;
  --top-offset: 80.93vh;
  --fall-duration: 8.386s;
  --fall-delay: 8.026s;
}
.star:nth-child(30) {
  --star-tail-length: 6.48em;
  --top-offset: 14.41vh;
  --fall-duration: 6.233s;
  --fall-delay: 3.043s;
}
.star:nth-child(31) {
  --star-tail-length: 5.11em;
  --top-offset: 71.51vh;
  --fall-duration: 11.971s;
  --fall-delay: 8.803s;
}
.star:nth-child(32) {
  --star-tail-length: 6.7em;
  --top-offset: 75.62vh;
  --fall-duration: 11.457s;
  --fall-delay: 9.806s;
}
.star:nth-child(33) {
  --star-tail-length: 5.86em;
  --top-offset: 42.96vh;
  --fall-duration: 8.284s;
  --fall-delay: 0.849s;
}
.star:nth-child(34) {
  --star-tail-length: 5.53em;
  --top-offset: 23.96vh;
  --fall-duration: 9.851s;
  --fall-delay: 8.36s;
}
.star:nth-child(35) {
  --star-tail-length: 6.87em;
  --top-offset: 18.53vh;
  --fall-duration: 10.164s;
  --fall-delay: 8.153s;
}
.star:nth-child(36) {
  --star-tail-length: 5.1em;
  --top-offset: 37.27vh;
  --fall-duration: 8.293s;
  --fall-delay: 0.006s;
}
.star:nth-child(37) {
  --star-tail-length: 5.11em;
  --top-offset: 99.12vh;
  --fall-duration: 7.348s;
  --fall-delay: 3.008s;
}
.star:nth-child(38) {
  --star-tail-length: 6.61em;
  --top-offset: 18.51vh;
  --fall-duration: 8.136s;
  --fall-delay: 9.092s;
}
.star:nth-child(39) {
  --star-tail-length: 7.4em;
  --top-offset: 62.76vh;
  --fall-duration: 6.135s;
  --fall-delay: 1.166s;
}
.star:nth-child(40) {
  --star-tail-length: 5.71em;
  --top-offset: 98.46vh;
  --fall-duration: 7.084s;
  --fall-delay: 6.435s;
}
.star:nth-child(41) {
  --star-tail-length: 5.49em;
  --top-offset: 65.05vh;
  --fall-duration: 6.371s;
  --fall-delay: 9.201s;
}
.star:nth-child(42) {
  --star-tail-length: 5.4em;
  --top-offset: 52.91vh;
  --fall-duration: 10.018s;
  --fall-delay: 9.797s;
}
.star:nth-child(43) {
  --star-tail-length: 5.31em;
  --top-offset: 94.36vh;
  --fall-duration: 6.462s;
  --fall-delay: 6.305s;
}
.star:nth-child(44) {
  --star-tail-length: 6.04em;
  --top-offset: 4vh;
  --fall-duration: 9.84s;
  --fall-delay: 2.761s;
}
.star:nth-child(45) {
  --star-tail-length: 6.17em;
  --top-offset: 25.96vh;
  --fall-duration: 6.512s;
  --fall-delay: 1.419s;
}
.star:nth-child(46) {
  --star-tail-length: 7.2em;
  --top-offset: 68.99vh;
  --fall-duration: 7.791s;
  --fall-delay: 2.302s;
}
.star:nth-child(47) {
  --star-tail-length: 5.8em;
  --top-offset: 94.06vh;
  --fall-duration: 8.804s;
  --fall-delay: 0.265s;
}
.star:nth-child(48) {
  --star-tail-length: 5.25em;
  --top-offset: 17.64vh;
  --fall-duration: 7.992s;
  --fall-delay: 7.231s;
}
.star:nth-child(49) {
  --star-tail-length: 6.43em;
  --top-offset: 28.3vh;
  --fall-duration: 10.358s;
  --fall-delay: 1.445s;
}
.star:nth-child(50) {
  --star-tail-length: 5.77em;
  --top-offset: 85.09vh;
  --fall-duration: 11.279s;
  --fall-delay: 3.879s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

