.control_type_text {
    font-size: 8px;
    font-weight: bold;
    background-color: rgb(163, 163, 163);
    color: rgb(43, 41, 41);
    border-radius: 3pt;
    padding: 3px;
    vertical-align: middle;
    padding-bottom: 4px;
}

.more_info_text {
    font-size: 10px;
    color: #555;
}