.control_type_text {
    font-size: 8px;
    font-weight: bold;
    background-color: rgb(163, 163, 163);
    color: rgb(43, 41, 41);
    border-radius: 3pt;
    vertical-align: middle;
    
}

.more_info_text {
    font-size: 10px;
    color: #555;
}