<div class="nwt_lazy_form_control">
    <div class="is_structure"
        v-if="isStructure">
        <nwt-control-for-structure :settings="definition" ref="structure" />
    </div>
    <div class="is_list"
        v-else-if="isList">
        <nwt-control-for-list :settings="definition" ref="list" />
    </div>
    <div class="is_option"
        v-else-if="isOption">
        <nwt-control-for-option :settings="definition" ref="option" />
    </div>
    <div class="is_component"
        v-else>
        <component :is="loaded.name"
            :settings="definition"
            ref="component"
        />
    </div>
</div>