.calendar_container {
    max-width: 310px;
}
.no_table.calendar {
    border: 1px solid #1c5a93;
}

.no_table.calendar > .thead > .row,
.no_table.calendar > .tbody > .row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.no_table.calendar > .tbody > .row > .cell,
.no_table.calendar > .thead > .row > .cell {
    text-align: center;
    border: 0px solid black;
    position: relative;
}

.no_table.calendar > .thead > .row > .cell {
    background-color: #1c5a93;
    color: white;
}

.no_table.calendar > .thead > .row > .cell,
.no_table.calendar > .tbody > .row > .cell {
    min-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no_table.calendar > .tbody > .row > .cell:hover {
    background-color: #DDD;
    cursor: pointer;
}

.no_table.calendar > .tbody > .row > .cell.inactive {
    color: #BBB;
}

.no_table.calendar > .tbody > .row > .cell.inactive:hover {
    background-color: inherit;
    cursor: pointer;
}

.no_table.calendar > .tbody > .row > .cell.active {
    background-color: #709dd2;
    color: white;
    font-weight: bold;
}

.day_marks_box {
    position: absolute;
    top: auto;
    left: auto;
    right: 2px;
    bottom: 0px;
    font-size: 6px;
}
.day_marks_box > .day_mark_point {
    width: 8px;
    height: 8px;
    background-color: rgb(231, 186, 5);
    color: black;
    font-weight: normal;
    border-radius: 50%;
    padding: 0px;
}