.nwt_code_highlighter {
    position: relative;
    font-family: monospace;
    font-size: 10px;
}
.nwt_code_highlighter > pre {
    padding: 6px;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 0px black;
}