<div class="control_for basic_text_oneline">
    <div v-if="statement"
        class="pad_horizontal_1 pad_bottom_1">
        <button class="mini"
            v-on:click="toggleSelf">
            <template v-if="isShowing">
                ➖
            </template>
            <template v-else>
                ➕
            </template>
        </button>
        <button class="mini"
            v-if="typeof isValidated === 'boolean'">
            <template v-if="isValidated === true">
                ✅
            </template>
            <template v-else-if="isValidated === false">
                ❌
            </template>
        </button>
        <span>{{ statement }}</span>
        <span v-if="description && isShowing">
            <span>
                <button class="mini"
                    :class="{active:isShowingDescription}"
                    v-on:click="toggleDescription">
                    <template v-if="isShowingDescription">
                        ❓➖
                    </template>
                    <template v-else>
                        ❓➕
                    </template>
                </button>
            </span>
            <span v-if="isShowingDescription">
                {{ description }}
            </span>
        </span>
    </div>
    <div v-if="isShowing">
        <div class="flex_row pad_horizontal_1">
            <div class="flex_1 pad_right_1"
                v-if="buttonsLeft.length"
                v-for="button, buttonIndex in buttonsLeft"
                v-bind:key="'button_left_' + buttonIndex">
                <button class="mini"
                    v-on:click="function(e) {button.click(e, self);}">{{ button.text }}</button>
            </div>
            <div class="flex_100 pad_horizontal_1">
                <input class="width_100"
                    type="text"
                    v-model="value"
                    :placeholder="placeholder"
                    v-on:keypress.enter="e => onEnter(value, e, self)" />
            </div>
            <div class="flex_1 pad_left_1"
                v-if="buttonsRight.length"
                v-for="button, buttonIndex in buttonsRight"
                v-bind:key="'button_right_' + buttonIndex">
                <button class="mini"
                    v-on:click="function(e) {button.click(e, self);}">{{ button.text }}</button>
            </div>
        </div>
        <nwt-control-validator :control="this" />
    </div>
</div>