<div class="nwt_control_for_option">
    Nwt control for option {{ $nwt.Reflection.keys(settings) }}
    <div>
        <select v-model="selectedOption">
            <template v-for="option, optionIndex in settings.schema">
                <option v-bind:key="'option-' + optionIndex" :value="optionIndex">Tipo {{ optionIndex + 1 }}: {{ option.type }}</option>
            </template>
        </select>
        <template v-if="selectedOption in settings.schema">
            <component :is="$toolkit.getComponentNameBySettings(settings.schema[selectedOption])"
                :settings="{
                    ...settings.schema[selectedOption],
                    rootValueIndex: $toolkit.getRootValueIndex().concat([]),
                }" />
        </template>
    </div>
</div>