<div class="nwt_control_for_option">
    <nwt-control-partial-for-statement :control="this" />
    <div v-show="isShowingControl">
        <template v-if="isWellFormed">
            <component v-if="settings.valueOption in settings.schema"
                :is="$nwt.Resource.fromResourceIdToVueComponentId(settings.schema[settings.valueOption].type)"
                :settings="{
                ...settings.schema[settings.valueOption],
                initialValue: value,
            }" />
        </template>
        <nwt-control-partial-for-error-handler :control="this" />
    </div>
</div>