<div class="nwt_control_partial_for_statement">
    <div class="pad_bottom_1" v-if="control.settings.hasHeader">
        <nwt-source-viewer :source="control.settings.hasHeader" />
    </div>
    <div class="statement_box" v-if="control.settings.hasStatement || control.settings.hasDescription">
        <div class="flex_row">
            <div class="flex_100 align_self_center">
                <span class="statement_text"> 🔸 {{ control.settings.hasStatement }}</span>
                <span class="description_text" v-if="isShowingDescription">
                    <span class="description_icon"> ℹ️ </span>
                    <span>{{ control.settings.hasDescription }}</span>
                </span>
            </div>
            <slot></slot>
            <div class="flex_1 pad_left_1" v-if="control.settings.hasDescription">
                <button class="mini description_icon"
                    :class="{ active: isShowingDescription }"
                    v-on:click="toggleDescription">ℹ️</button>
            </div>
        </div>
    </div>
</div>