<div class="nwt_form_builder" v-forms.form="{
        onSubmit: events.onSubmit || $nwt.Utils.noop,
        onSuccess: events.onSuccess || console.log,
        onError: events.onError || console.error,
    }">
    <div class="form">
        <div class="table built_form_table">
            <div class="thead">
                <div class="row">
                    <div class="hcell">
                        <button class="mini" v-on:click="toggleAllControls">🔓*</button>
                    </div>
                    <div class="hcell">
                        <b>{{ title }}</b>
                    </div>
                    <div class="hcell" style="padding-right: 0px;">
                        <button class="mini" v-on:click="submitForm">▶️</button>
                    </div>
                    <div class="hcell">
                        <button class="mini" v-on:click="validateForm">*✅</button>
                    </div>
                </div>
            </div>
            <div class="tbody">
                <div class="row no_hover_row"
                    v-for="control, controlIndex in formattedControls"
                    v-bind:key="'form_control_' + controlIndex">
                    <div class="cell" style="display: block; align-content: start; padding: 2px;">
                        <button class="mini display_inline_block expanded_vertically_button_1 text_align_top"
                            :class="{active:control.isOpened}"
                            v-on:click="() => toggleControlInForm(control)">
                            {{ control.isOpened ? "🔓" : "🔒" }}
                        </button>
                    </div>
                    <div class="cell" style="align-content: start; padding: 2px;">
                        <div v-show="control.isOpened === true">
                            <component :is="control.componentId"
                                ref="subcontrols"
                                v-bind="control.props"
                                v-on="control.listeners"
                                v-forms.control="{name:control.name || 'control_' + controlIndex}"
                            />
                        </div>
                        <div v-show="control.isOpened === false">
                            <div class="flex_row centered">
                                <div class="flex_1">
                                    <button class="display_inline_block mini" v-on:click="() => toggleControlInForm(control)">
                                        {{ $refs.subcontrols && $refs.subcontrols[controlIndex]?.validationErrors?.length ? "⛔️" : control.props?.isRequired ? "*️⃣" : "❓" }}
                                    </button>
                                </div>
                                <div class="flex_1 pad_left_1">
                                    <div class="display_inline_block">{{ control.props?.statement }}</div>
                                </div>
                                <div class="flex_1 pad_left_1">
                                    <div class="control_type display_inline_block">{{ control.type }}</div>
                                </div>
                                <div class="flex_100 pad_left_1">
                                </div>
                                <div class="flex_1 pad_left_1">
                                    <button class="mini" v-on:click="() => validateControl(controlIndex, control)">✅</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no_hover_row">
                    <div class="cell empty_cell"></div>
                    <div class="cell empty_cell"></div>
                    <div class="cell empty_cell"></div>
                </div>
            </div>
            <div class="tfooter">
                <div class="row">
                    <div class="hcell">
                        <button class="mini" v-on:click="toggleAllControls">🔓*</button>
                    </div>
                    <div class="hcell footer_text">
                        {{ footer }}
                    </div>
                    <div class="hcell" style="padding-right: 0px;">
                        <button class="mini" v-on:click="submitForm">▶️</button>
                    </div>
                    <div class="hcell">
                        <button class="mini" v-on:click="validateForm">*✅</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>