<div class="nwt_control_for_list">
    <div class="flex_row">
        <div class="flex_100">
            <nwt-control-partial-for-statement :control="this">
                <template>
                    <!--div class="flex_1 pad_left_1">
                        <button class="mini height_100"
                            :class="{}">🟣 Iba a poner algo aquí pero no recuerdo</button>
                    </div-->
                    <div class="flex_1 pad_left_1">
                        <button class="mini height_100"
                            :class="{active:isShowingControl}"
                            v-on:click="toggleControl"
                            data-rabbit="1">🔶</button>
                    </div>
                </template>
            </nwt-control-partial-for-statement>
        </div>
        <div class="flex_1 pad_left_1">
            <nwt-control-partial-for-list-panel :control="this" />
        </div>
    </div>
    <div v-show="isShowingControl">
        <div class="pad_bottom_1">
            <nwt-control-partial-for-error-handler :control="this" />
        </div>
        <div class="list">
            <template v-if="isWellFormed">
                <div class="padj_top_1"
                    v-for="item, itemIndex in value"
                    v-bind:key="'list_item_' + (item?.uuid || itemIndex)">
                    <div class="flex_row">
                        <div class="flex_1 hpill_start pad_horizontal_1 index_cell">
                            <div class="flex_row centered height_100">
                                <div class="flex_100">
                                    {{ itemIndex }}
                                </div>
                            </div>
                        </div>
                        <div class="flex_100 hpill_center">
                            <component :is="$nwt.Resource.fromResourceIdToVueComponentId(settings.schema.type)"
                                :settings="{
                                ...settings.schema,
                                initialValue: value[itemIndex]
                            }" />
                        </div>
                        <div class="flex_1">
                            <button class="mini height_100 hpill_end"
                                v-on:click="() => removeItem(itemIndex)">❌</button>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>