.structure_property_title {
    background-color: rgb(4, 4, 41);
    color: white;
    padding: 0px;
    font-size: 10px;
}

.structure_mark {
    padding: 2px;
    box-shadow: 0 0 2px black;
    margin-left: -2px;
    padding-left: 2px;
}