<div class="nwt_form_control for_structure">
    <nwt-form-control-statement :control="this" />
    <div class="card position_relative" v-if="isLoaded">
        <div v-for="control, controlId, controlCounter in controls"
            v-bind:key="'control_' + controlId">
            <component :is="control.componentId"
                :ref="'subcontrol_' + controlId"
                v-bind="control.props"
                v-on="control.listeners" />
        </div>
    </div>
    <nwt-form-control-handler :control="this" />
</div>