<div class="nwt_form_control for_text multiline" :class="extraClasses">
    <div class="pad_bottom_1" v-if="statement">
        <div>
            <button class="display_inline_block mini" :class="{active:isShowingExtraInfo}" v-on:click="toggleExtraInfo">
                {{ isRequired ? "*️⃣" : "❓" }}
            </button>
            <div class="control_statement display_inline_block">{{ statement }}</div>
            <div class="control_type display_inline_block">text/multiline</div>
        </div>
        <div class="control_extra_info" v-if="isShowingExtraInfo">{{ extraInfo }}</div>
    </div>
    <div class="flex_row centered">
        <div class="flex_100">
            <textarea
                class="width_100"
                type="text"
                :placeholder="placeholder"
                v-model="value"
                v-on:input="e => onChange(e, this)"
            />
        </div>
        <div class="flex_1 align_self_start">
            <template v-for="button, buttonIndex in buttons">
                <div class="flex_1 pad_left_1" v-bind:key="'button_' + buttonIndex">
                    <button class="mini no_wrap width_100" v-on:click="e => button.click(e)">{{ button.text }}</button>
                </div>
            </template>
        </div>
    </div>
</div>