.card.validation_error_card {
    background-color: #f2d0d0;
    box-shadow: 0px 0px 0px black;
    border: 1px solid #edbdbd;
    border-radius: 3pt;
    font-size: 10px;
    color: rgb(37, 1, 1);
    margin-bottom: 0px;
    padding: 4px;
}
.card.validation_error_card .validation_error_details {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 0px black;
    border: 1px solid #edbdbd;
    border-radius: 0pt;
    font-size: 9px;
    overflow: scroll;
    padding: 8px;
}