<div class="nwt_control_for_structure">
    <!--Nwt control for structure {{ $nwt.Reflection.keys(settings) }}-->
    <nwt-control-partial-for-statement :control="this">
        <template v-slot:hideable>
            <slot name="hideable"></slot>
        </template>
        <template v-slot:onright>
            <slot name="onright"></slot>
        </template>
        <slot></slot>
    </nwt-control-partial-for-statement>
    <template v-if="isShowingControl">
        <div v-for="column, columnName in settings.schema"
            v-bind:key="'column-' + columnName"
            class="pad_left_1">
            <component :is="$toolkit.getComponentNameBySettings(column)"
                :ref="component => { if(component === null) { delete $local.controls[columnName]; } else { $local.controls[columnName] = component; } }"
                :settings="{
                    ...column,
                    isShowingControl: true,
                    rootValueIndex: $toolkit.getIndexForValue().concat([columnName]),
                    rootSchemaIndex: $toolkit.getIndexForSchema().concat(['schema', columnName]),
                }" />
        </div>
    </template>
</div>