.nwt_chatgpt_files_manager_viewer {

}

.chatgpt_files_table > .thead > .row,
.chatgpt_files_table > .tbody > .row {
    display: grid;
    grid-template-columns: 50px 100fr 200px 60px auto;
    align-items: center;
}