.handler_message.error_message {
    background-color: rgb(190 232 92);
    font-size: 10px;
    color: rgb(7, 7, 77);
    border: 1px solid #93b338;
    border-radius: 2pt;
    padding: 2px;
    display: inline-block;
}