<div class="nwt_control_option">
    <div class="pad_bottom_1">
        <div class=""
            v-if="!isExpanded">
            <nwt-control-partial-for-statement :control="this" />
        </div>
        <div v-else
            class="structure_mark">
            <div class="pad_bottom_1">
                <nwt-control-partial-for-statement :control="this" />
            </div>
            <div class="pad_bottom_1">
                <div class="flex_row centered">
                    <div class="flex_1 pad_horizontal_1">
                        Tipo:
                    </div>
                    <div class="flex_100">
                        <select class="width_100" v-model="hasSelectedOption">
                            <option :value="subcontrolIndex"
                                v-for="subcontrol, subcontrolIndex in settings.controls"
                                v-bind:key="'subcontrol_' + subcontrolIndex">
                                {{ subcontrolIndex + 1 }} - {{ subcontrol.type.replace("@control/for/", "") }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="" v-if="!isLoadingControl">
                <div class="pad_left_1">
                    <nwt-lazy-form-control
                        :definition="{
                        ...settings.controls[hasSelectedOption],
                        parentKey: undefined,
                        parentControl: self,
                        respectiveValue: value || undefined
                    }" />
                </div>
                <nwt-control-validator :control="this" />
            </div>
        </div>
    </div>
</div>