<div class="procedure_form">
    <div class="title">Formulario para convertir de CSV a CSV paginado por node.js</div>
    <div class="card">
        <div>
            <div><b>Parámetro 1.</b> Fichero a dividir:</div>
            <div>
                <div class="">
                    <button class="width_100 text_align_left" v-on:click="selectFile">Seleccionar fichero</button>
                </div>
                <div class="text_align_center">
                    o
                </div>
                <div class="">
                    <div class="dropzone"
                        v-on:dragover.prevent
                        v-on:dragleave="() => isDragging = false"
                        v-on:drop.prevent="onDrop"
                        :class="{ dragover: isDragging }">
                        Arrastrar aquí el fichero
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="pad_vertical_1">
            <div><b>Parámetro 2.</b> Fichero de salida:</div>
            <button class="width_100 text_align_left" v-on:click="selectOutputDirectory">Seleccionar directorio de salida</button>
        </div>
        <hr />
        <div class="pad_vertical_1">
            <div><b>Parámetro 3.</b> Número de filas por fichero:</div>
            <input class="width_100" type="number" v-model="value.rows" v-on:input="reloadCode" />
        </div>
        <template v-if="value.file">
            <hr />
            <div class="pad_vertical_1">
                <div class="pad_bottom_2"><b>Respuesta 1.</b> Fichero a dividir seleccionado:</div>
                <div class="scrollable no_wrap">
                    <div> 📃 1. {{ value.file }} </div>
                </div>
            </div>
        </template>
        <template v-if="value.output">
            <hr />
            <div class="pad_vertical_1">
                <div class="pad_bottom_2"><b>Respuesta 2.</b> Directorio de salida seleccionado:</div>
                <div>📂 {{ value.output }}</div>
            </div>
        </template>
        <hr />
        <div>
            <b>Código equivalente:</b>
        </div>
        <template v-if="!isLoadingCode">
            <nwt-code-highlighter syntax="javascript">NwtProceduresManager.global.findById("Convertir de CSV a CSV paginado por node.js").startViewer({{ $nwt.Utils.jsonify(value, 2) }});</nwt-code-highlighter>
            <hr />
        </template>
        <div class="flex_row centered">
            <div class="flex_100"></div>
            <div class="flex_1 pad_left_1">
                <button class="" v-on:click="() => dialog.accept(value)" :disabled="(value.file && value.output && value.rows) ? false : true">Aceptar</button>
            </div>
            <div class="flex_1 pad_left_1">
                <button class="" v-on:click="() => dialog.cancel()">Cancelar</button>
            </div>
        </div>
    </div>
</div>