.nwt_source_viewer {
    white-space: wrap;
}
.nwt_source_viewer blockquote {
    padding: 5px;
    margin: 0px;
    padding-left: 15px;
    border-left: 3px solid #444;
    background-color: #e8f3bc;
    box-shadow: 0 0 2px black;
}